.fileInput{position:relative;height:34px;overflow:hidden;}
.upfile{position:absolute;top:-100px;}
.upFileBtn{width:102px;height:34px;cursor:pointer;}
.input{
    padding-top:10px;
}

.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 100px;

}
.tab{

}
.App-header {
    background-color: #222;
    height: 500px;
    padding: 20px;
    color: white;
    position: relative;
}

.App-title {
    font-size: xx-large;
    color:white;
    position: absolute;
    top: 50%;
    left:37%;
    transform: translateY(-50%);

}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
.custom-filter-dropdown {
    padding: 8px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
}

.custom-filter-dropdown input {
    width: 130px;
    margin-right: 8px;
}

.highlight {
    color: #f50;
}
.add_button{
    position: absolute;

    right:180px;
}
.reload_button{
    position: absolute;

    left:240px;
}
.ant-carousel .slick-slide {
    text-align: center;
    height: 160px;
    line-height: 160px;
    background: #364d79;
    overflow: hidden;
}

.ant-carousel .slick-slide h3 {
    color: #fff;
}

.body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
#components-layout-demo-top-side-2 .logo {
    width: 120px;
    height: 31px;
    background: rgba(255,255,255,.2);
    margin: 16px 28px 16px 0;
    float: left;
}

.rsuite-table {
    border: 1px solid #eee;
    position: center;

    overflow: hidden;
}
.rsuite-table.column-resizing {
    cursor: ew-resize;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.rsuite-table-sortable {
    top: 8px;
    position: absolute;
}
.rsuite-table-sortable .icon-sort {
    color: #aaa;
}
.rsuite-table-sortable .icon-sort-asc,
.rsuite-table-sortable .icon-sort-desc {
    color: #0ae;
}
.rsuite-table-row {
    overflow: hidden;
    position: absolute;
    height: 36px;
    width: 100%;
    top: 0;
    border-bottom: 1px solid #eee;
}
.rsuite-table-row:hover {
    background: #f5f5f5;
}
.rsuite-table-row:hover .rsuite-table-cell-group {
    background: #f5f5f5;
}
.rsuite-table-row:hover .rsuite-table-cell {
    background: #f5f5f5;
}
.rsuite-table.table-hover .rsuite-table-row-header {
    background: #f5f5f5;
}
.rsuite-table.table-hover .rsuite-table-row-header .rsuite-table-cell {
    background: #f5f5f5;
}
.rsuite-table.table-hover .rsuite-table-row-header.shadow {
    -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.28);
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.28);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.28);
    z-index: 5;
}
.rsuite-table-header-row-wrapper {
    z-index: 2;
    position: relative;
}
.rsuite-table-body-row-wrapper {
    position: relative;
    overflow: hidden;
    z-index: 0;
}
.rsuite-table-body-info {
    width: 100%;
    text-align: center;
    top: 50%;
    position: absolute;
    margin-top: -20px;
    line-height: 40px;
}
.rsuite-table-body-info .icon {
    margin: 0 10px;
}
.rsuite-table-body-info-wheel-area {
    width: 100%;
}
.rsuite-table-loading-wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(45, 45, 45, 0.5);
    color: #fff;
}
.rsuite-table-loading {
    width: 100%;
    text-align: center;
    top: 50%;
    position: absolute;
    margin-top: -20px;
    line-height: 40px;
}
.rsuite-table-loading .icon {
    margin: 0 10px;
}
.rsuite-table-cell {
    height: 36px;
    border-style: solid;
    border-width: 0;
    border-color: #eee;
    display: block;
    overflow: hidden;
    position: absolute;
    white-space: normal;
    background: #fff;
}
.rsuite-table-cell.sortable {
    cursor: pointer;
}
.rsuite-table-cell.first {
    border-left-width: 0;
}
.rsuite-table-cell-wrap1 {
    display: table;
}
.rsuite-table-cell-wrap2 {
    display: table-row;
}
.rsuite-table-cell-wrap3 {
    display: table-cell;
    vertical-align: middle;
}
.rsuite-table-cell-content {
    padding: 8px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    width: 100%;
}
.rsuite-table-column-resize-spanner {
    height: 36px;
    width: 6px;
    z-index: 3;
    position: absolute;
    cursor: ew-resize !important;
    outline: none;
}
.rsuite-table-cell-group.fixed {
    position: absolute;
    z-index: 4;
    background: #fff;
}
.rsuite-table-cell-group.shadow {
    -moz-box-shadow: 3px 0px 5px rgba(9, 9, 9, 0.08);
    -webkit-box-shadow: 3px 0px 5px rgba(9, 9, 9, 0.08);
    box-shadow: 3px 0px 5px rgba(9, 9, 9, 0.08);
}
.rsuite-table-mouse-area {
    display: none;
    left: -1px;
    top: 0;
    position: absolute;
    width: 1px;
    z-index: 6;
}
.rsuite-table-bordered .rsuite-table-cell {
    border-width: 0 1px 0 0;
}
.rsuite-table-word-wrap .rsuite-table-cell-content {
    white-space: unset;
    word-break: break-all;
}
.rsuite-table-pagination-wrapper {
    background: #f5f5f5;
    padding: 10px;
}
.rsuite-table-length-menu {
    display: inline-block;
    margin-left: 10px;
}
.rsuite-table-page-info {
    display: inline-block;
    margin-left: 10px;
}
.rsuite-table-pagination {
    float: right;
}
.rsuite-table-pagination .pagination {
    margin: 0;
}
.rsuite-table-pagination .disabled a {
    background: #f5f5f5;
    border-color: #f5f5f5;
    color: #999;
}
.rsuite-table-treetable .rsuite-table-row {
    position: relative;
}
.rsuite-table-treetable .rsuite-table-row .expand-icon {
    width: 10px;
    cursor: pointer;
    outline: none;
}
.rsuite-table-treetable .rsuite-table-row .expand-icon:before {
    content: "\f0da";
}
.rsuite-table-treetable .children {
    display: none;
}
.rsuite-table-treetable .open > .children {
    display: block;
}
.rsuite-table-treetable .open > .rsuite-table-row .expand-icon:before {
    content: "\f0d7";
}
.rsuite-table-scrollbar-wrapper {
    background: rgba(45, 45, 45, 0.05);
    position: absolute;
    transition: background 1s;
}
.rsuite-table-scrollbar-wrapper.active {
    background: rgba(45, 45, 45, 0.1);
}
.rsuite-table-scrollbar-wrapper.hide {
    display: none;
}
.rsuite-table-scrollbar-wrapper .scrollbar-handle {
    position: absolute;
    background: rgba(45, 45, 45, 0.5);
    border-radius: 4px;
}
.rsuite-table-scrollbar-wrapper.horizontal {
    width: 100%;
    height: 10px;
    bottom: 2px;
}
.rsuite-table-scrollbar-wrapper.horizontal:hover,
.rsuite-table-scrollbar-wrapper.horizontal.active {
    height: 14px;
    box-shadow: 1px 1px 2px #ddd inset;
}
.rsuite-table-scrollbar-wrapper.horizontal:hover .scrollbar-handle,
.rsuite-table-scrollbar-wrapper.horizontal.active .scrollbar-handle {
    top: 2px;
    height: 10px;
}
.rsuite-table-scrollbar-wrapper.horizontal .scrollbar-handle {
    height: 8px;
    left: 0px;
    top: 1px;
}
.rsuite-table-scrollbar-wrapper.vertical {
    top: 0;
    right: 0px;
    width: 10px;
    bottom: 2px;
}
.rsuite-table-scrollbar-wrapper.vertical:hover,
.rsuite-table-scrollbar-wrapper.vertical.active {
    width: 14px;
    box-shadow: 1px 1px 2px #ddd inset;
}
.rsuite-table-scrollbar-wrapper.vertical:hover .scrollbar-handle,
.rsuite-table-scrollbar-wrapper.vertical.active .scrollbar-handle {
    left: 2px;
    width: 10px;
}
.rsuite-table-scrollbar-wrapper.vertical .scrollbar-handle {
    min-height: 20px;
    width: 8px;
    top: 0px;
    left: 1px;
}

/* Upload css */
.avatar-uploader,
.avatar-uploader-trigger,
.avatar {
    width: 150px;
    height: 150px;
}
.avatar-uploader {
    display: block;
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
}
.avatar-uploader-trigger {
    display: table-cell;
    vertical-align: middle;
    font-size: 28px;
    color: #999;
}
